body{
    position: relative;
    background: url("https://image.freepik.com/free-photo/cheese-assortment-with-copy-space_23-2148432599.jpg");
    background-size: cover;
}



hr{
    border-color: red;
}

img{
    filter: grayscale();
}

img:hover{
    filter:none;
}

footer {
    height: 5%;
    width: 100%;
    border-top: 1vh solid green;
    background-color: white;
    /* border-bottom: 1vw solid white;    */
    padding: 1vh 1vw 1vh 1vw;
    clear: both;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: fixed;
    bottom: 0;
}


.navbar-brand{
    padding: 0.5%;
    background-color: green   
}

.container{
    background-color: black;
    color: white;
    width: 70vw;
    padding: 2%;
    margin: 5% 28% 5% 2%;
}


.section-header{
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

.content{
    float: none;
    width: 100%;
}

@media screen and (max-width:700px){

    .container{
        width: 90vw;
        margin: 0 auto;
    }

}